<%- include("../partials/header.ejs"); %>

<div class="container">
  <div id="model" class="aesthetic-windows-xp-modal-title-bar-text">
    <h4 class="my-0">Messageboard</h4>
  </div>
  
</div>

</div>

  <div class="container">
    <div class="card">
      <!-- Content -->
  <!-- Could be a tabbed container, or a set of dropdowns, etc... -->

  <div class="aesthetic-windows-xp-modal-content">

    <!--FOR EACH BEGIN-->
    <% for(let i=messages.length-1; i>0; i--){ %>

    <strong id="author"><%=messages[i].author%>:</strong>
    <p id="timestamp"><%= messages[i].timestamp %></p>
    <p id="content"><%= messages[i].content %></p>
    <hr>
    <!--FOR EACH END-->
    <% } %>


    <h3>Post Message</h3>
    <form action="" method="POST">
        <div>
          <input name = "user" class="aesthetic-windows-xp-text-input" type="text" placeholder="Your Name" />
        </div>
        <div class="margin-top">
          <textarea name = "content" class="aesthetic-windows-xp-text-input" placeholder="Your Comment"></textarea>
        </div>

        <button type="submit">Post</button>
    </form>

  </div>
  
  </div>

  
  </div>
<%- include("../partials/footer.ejs"); %>